<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mom.admin.mapper.reserve.ReserveMapper">
	<!-- 검색 조건을 나타내는 쿼리 조각 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'ca'.toString()">
				AND (reserve_no LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR user_no LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR user_id LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR user_name LIKE CONCAT('%', CONCAT(#{keyword}, '%')))
			</if>
			<if test="searchType == 'rno'.toString()">
				AND reserve_no LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'no'.toString()">
				AND user_no LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'id'.toString()">
				AND user_id LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'na'.toString()">
				AND user_name LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
		</if>
	</sql>
	<sql id="total_list">
		<if test="searchType == null">
			AND rnum BETWEEN #{sizePerPage} * #{page} - 9
			AND #{sizePerPage} * #{page}
		</if>
	</sql>

	<!-- 승인요청리스트 조회 -->
	<select id="request" resultType="Reserve">
		<![CDATA[
		SELECT reserve_no, user_no, user_id, user_name, item_no, reserve_state, reserve_addr, reserve_item_price, reserve_option_price, reserve_date, clean_date, reserve_request 
		FROM (SELECT reserve_no, user_no, user_id, user_name, item_no, reserve_state, reserve_addr, reserve_item_price, reserve_option_price, reserve_date, clean_date, reserve_request, rownum as rnum FROM reserve)
		WHERE reserve_state = '예약대기'
		AND rnum between #{sizePerPage}*#{page}-9 and #{sizePerPage}*#{page}
		]]>
		
		<include refid="total_list" />
		<include refid="search" />
		
		<![CDATA[
		ORDER BY reserve_date ASC
		]]>
	</select>
	<!-- 승인요청리스트 전체 건수 조회 -->
	<select id="count" resultType="int">
		<![CDATA[
			SELECT count(reserve_no)
			FROM reserve
			WHERE reserve_no > 0
		]]>
		<include refid="search" />
	</select>
	
	<!-- 예약 상세조회 -->
	<select id="read" resultType="Reserve">
		SELECT reserve_no, user_no, user_id, user_name, item_no, reserve_state, reserve_addr, reserve_item_name, reserve_item_price, COALESCE(reserve_option_name, '없음') as reserve_option_name, reserve_option_price, reserve_date, clean_date, reserve_request, clean_done
		FROM reserve
		WHERE
		reserve_no = #{reserveNo}
	</select>
	
	<!-- 예약승인처리 -->
	<update id="completeUpdate">
		UPDATE reserve
		SET reserve_request = '예약완료', reserve_state = '예약완료'
		WHERE reserve_request = '예약요청' AND reserve_state = '예약대기'
	</update>
</mapper>